<div class="container">
  <h1 class="text-3xl font-bold"><%= @event.name %></h1>
  <p><%= @event.description %></p>

  <hr>

  <div class="grid grid-cols-2 gap-2 m-4">
    <%= render @event.bills%>
  </div>

</div>
